<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Navbar</title>
</head>
<body>
<div th:fragment="navbar">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="#">USWO App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/f1control">F1Control</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/fundstart">FundStart</a>
        </li>
        <li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="fundReleaseDropdown" role="button" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">FundRelease</a>
  <div class="dropdown-menu" aria-labelledby="fundReleaseDropdown">
    <a class="dropdown-item" href="/uploadrequest">Upload</a>
    <a class="dropdown-item" href="/viewrequest">View</a>
    <a class="dropdown-item" href="/searchrequest">Search</a>
  </div>
</li>

        <li class="nav-item">
          <a class="nav-link" href="#">Districts</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="expensesDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">Expenses Panel</a>
          <div class="dropdown-menu" aria-labelledby="expensesDropdown">
            <a class="dropdown-item" href="/expenses/expense-add">Add</a>
            <a class="dropdown-item" href="/expenses/expense-search">Search</a>
          </div>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="f2bDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">F2B</a>
          <div class="dropdown-menu" aria-labelledby="f2bDropdown">
            <a class="dropdown-item" href="/share/projectshare-add">Add Share Balance (Project, Car, etc)</a>
            <a class="dropdown-item" href="/pasugo/subscription-add">Add Subscription Balance</a>
            <a class="dropdown-item" href="/payment/payment-add">Encode Payment</a>
            <a class="dropdown-item" href="/share/sharelist">List of Projects</a>
            <a class="dropdown-item" href="/pasugo/encode-mass">Encoding Balances</a>
            <a class="dropdown-item" href="/pasugo/search">Search Pasugo Balance</a>
            <a class="dropdown-item" href="/pasugo/gmbalances">All Pasugo Balances</a>
          </div>
        </li>
       
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="wlfrDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">WLFR</a>
          <div class="dropdown-menu" aria-labelledby="wlfrDropdown">
            <a class="dropdown-item" href="/wlfr/withdrawal">Add Withdrawal</a>
            <a class="dropdown-item" href="/wlfr/masterlist">View Funds</a>
            <a class="dropdown-item" href="/wlfr/search">Search Account</a>
            <a class="dropdown-item" href="/wlfr/accumulated">Accumulated Entries</a>
            
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/note/mynote">My Notes</a>
          <a class="nav-link" href="/note/search">Search Notes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/collectionpermit">Collection Permit</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="f4Dropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">Remittance</a>
          <div class="dropdown-menu" aria-labelledby="f4Dropdown">
            <a class="dropdown-item" href="/f4/search/wkno">Search Week Number</a>
            <a class="dropdown-item" href="/f4/search/lokal">Search Local</a>
            <a class="dropdown-item" href="/f4/search/district">Search District</a>
            <a class="dropdown-item" href="/f4/import/perweek">Import Per Week</a>
            
          </div>
        </li>
      </ul>
      <form class="form-inline ml-auto">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
      </form>
      <div th:if="${welcomeMessage}">
        <a class="btn btn-outline-light ml-2" th:if="${welcomeMessage != 'Welcome! Please log in to access the site.'}"
          href="/logout">Logout</a>
        <a class="btn btn-outline-light ml-2" th:if="${welcomeMessage == 'Welcome! Please log in to access the site.'}"
          href="/login">Login</a>
      </div>
    </div>
  </nav>

  <!-- Define the fragment for the navbar -->
 </div>
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</body>
</html>
