<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <title>Lokal List</title>
  <!-- DataTables CSS -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">


  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<!-- Include Bootstrap's JavaScript after jQuery -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>



<!-- Include jquery.dataTables.min.js after jQuery -->
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>




  <script type="text/javascript">
    $(document).ready(function () {
      

      // Handle onchange event of the district dropdown
      $('#districtDropdown').on('change', function () {
        // Get the selected district ID
        var districtId = $(this).val();

        // Call the backend API to get the locales for the selected district
        //getLocales(districtId);
        search_locales(districtId);
      });

    });
  


function search_locales(districtId)
		{
      
			if (window.XMLHttpRequest)
			  {// code for IE7+, Firefox, Chrome, Opera, Safari
			  xmlhttp=new XMLHttpRequest();
			  }
			else
			  {// code for IE6, IE5
			  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
			  }
			xmlhttp.onreadystatechange=function()
			  {
			  if (xmlhttp.readyState==4 && xmlhttp.status==200)
				{
				document.getElementById("lokalTable").innerHTML=xmlhttp.responseText;
				}
			  }
			xmlhttp.open("GET","/lokal-list/"+districtId,true);
			xmlhttp.send();
		}



</script>
<script>
  $(document).ready(function () {
      // Add an event listener to the table that listens for button clicks even from the <div>
      $("#lokalTable").on("click", ".btn.btn-primary", handleButtonClick2);
      $("#lokalTable").on("click", ".btn.btn-success", handleButtonClick3);
      $("#lokalTable").on("click", ".btn.btn-info", handleButtonClick4);
      
  });

  // Define a function to handle button click events
function handleButtonClick2(event) {
console.log("Button clicked!");
if ($(event.target).hasClass("btn") && $(event.target).hasClass("btn-primary")) {
const buttonId = $(event.target).attr("id");
const tableRow = $(event.target).closest("tr");
const wscount = tableRow.find('td:eq(2) input').val();
const tdValue = tableRow.find('td:eq(1)').text();


const lcode = buttonId.split('-')[1];
console.log("Lcode: " + lcode);
console.log("WSCOUNT: " + wscount);

console.log(tableRow.html())
const xhr = new XMLHttpRequest();
xhr.withCredentials = true;
xhr.open("PUT", "/updateLokal/" + lcode);
xhr.setRequestHeader("Content-Type", "application/json");
xhr.onreadystatechange = function() {
if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
  const messageDiv = document.createElement("div");
  messageDiv.classList.add("text-success");
  messageDiv.textContent = "Record of " + tdValue + " is updated successfully!";
  document.body.appendChild(messageDiv);
} else if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 404) {
  const messageDiv = document.createElement("div");
  messageDiv.classList.add("text-danger");
  messageDiv.textContent = "Record not found!";
  document.body.appendChild(messageDiv);
}
};
xhr.send(JSON.stringify({ wscount: wscount}));
}
}

function handleButtonClick4(event) {
  console.log("Button clicked!");
  if ($(event.target).hasClass("btn") && $(event.target).hasClass("btn-info")) {
    const buttonId = $(event.target).attr("id");
    const lcode = buttonId.split('-')[1];
    console.log("Lcode: " + lcode);
    window.open("/newnote/" + lcode, "_blank");
  }
}
//below is the code for f1auditor.html
function handleButtonClick3(event) {
  console.log("Button clicked!");
  if ($(event.target).hasClass("btn") && $(event.target).hasClass("btn-success")) {
    const buttonId = $(event.target).attr("id");
    const tableRow = $(event.target).closest("tr");
    const lcode = buttonId.split('-')[1];
    console.log("Lcode: " + lcode);
    $.get("/f1auditor/" + lcode, function(response) {
      $("#lokalTable").html(response);
      initializePage(); // call the function that initializes the page
    });
  }
}

function initializePage() {
  // Add the table class to the lokalTable table
  $("#lokalTable").addClass("table");

  var wscountField = document.getElementById('wscount');
  var numSets = parseInt(wscountField.value);

  updateSets();
  computeTotalRemittance(numSets);
  showSetTables(numSets);

  $('input:not(#total input)').on('change', function () {
    computeTotalRemittance(numSets);
  });
  $('input:not(#total input)').on('keyup', function () {
    computeTotalRemittance(numSets);
  });
  $('input:not(#total input)').on('keydown', function () {
    computeTotalRemittance(numSets);
  });

  // Remove the col-md-4 class from each set of fields
  for (var i = 1; i <= numSets; i++) {
    var setRow = document.getElementById('set' + i);
    if (setRow) {
      setRow.classList.remove("col-md-4");
    }
  }
}


</script>




</head>
<body>
  <div th:replace="~{fragments/navbar :: navbar}"></div>
  <div class="container mt-4">
    <div class="row">
      <div class="col-12">
        <div th:if="${welcomeMessage}">
          <p th:text="${welcomeMessage}"></p>
      </div>
  </div>
  </div>
  </div>
      
  <div class="container my-4">
    <div class="row">
      <div class="col-md-4">
        <h3>Select a District:</h3>
        <select class="form-control" id="districtDropdown">
          <option value="">-- Select a District --</option>
          <th:block th:each="district : ${districts}">
            <option th:value="${district.did}" th:text="${district.district}"></option>
          </th:block>
        </select>
      </div>
      <div class="col-md-8">
        <h3>Updated Records:</h3>
        <div id="updatedRecords"></div>
      </div>
    </div>
    <hr>

    <h3>Lokal List:</h3>
  </div>
  <div class="col-md-12">
    <div id="lokalTable"></div>
    <div id="locale-dropdown"></div>
</div>
</body>
  <!-- jQuery -->

</html>