<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Lokal List</title>

</head>

<body>
    <div class="container">

        <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Lokal List</title>

</head>

<body>
    <div class="container">

        <h1>Fund Start List</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Locale</th>
            <th>Week Started</th>
            <th>Bank</th>
            <th>USMO</th>
            <th>CFO</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td th:text="${fstart.recid}"></td>
            <td th:text="${fstart.lcode}"></td>
            <td><input type="text" th:value="${fstart.wkno}" name="wkno" class="form-control"></td>
            <td><input type="text" th:value="${fstart.bankstart}" name="bank" class="form-control"></td>
            <td><input type="text" th:value="${fstart.lfstart}" name="usmo" class="form-control"></td>
            <td><input type="text" th:value="${fstart.cfstart}" name="cfo" class="form-control"></td>
            
        </tr>
    </tbody>
</table>
<p th:text="${message}"></p>

        
        
    </div>

    </div>



</body>

</html>

    </div>

    </div>



</body>

</html>