<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="icon" type="image/x-icon" href="data:image/x-icon;">
  <meta charset="UTF-8">
  <title>USWO App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
  <div th:replace="~{fragments/navbar :: navbar}"></div>

<!-- Main content -->
<div class="container mt-5">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to USWO Finance Records and Monitoring System</h1>
    <div th:if="${welcomeMessage}">
      <p th:text="${welcomeMessage}"></p>
    </div>
  
    <hr class="my-4">
    <p>This aims to lighten the monitoring and processing.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">More Modules need to be Done Please be patient</a>
  </div>
</div>
<!-- Bootstrap JS dependencies -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4i"></script>

</body>
</html>
