<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 
  <head>
    <meta charset="UTF-8">
    <title>Lokal List</title>
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  
  
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  
  
  <!-- Include Bootstrap's JavaScript after jQuery -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  
  
  
  <!-- Include jquery.dataTables.min.js after jQuery -->
  <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
</head>
<body>
  <div th:replace="~{fragments/navbar :: navbar}"></div>

<!-- Main content -->
<div class="container mt-5">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to USWO Finance Records and Monitoring System</h1>
    <div th:if="${welcomeMessage}">
      <p th:text="${welcomeMessage}"></p>
    </div>
  
    <hr class="my-4">
    <p>This aims to lighten the monitoring and processing.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">More Modules need to be Done Please be patient</a>
  </div>
</div>
<!-- Bootstrap JS dependencies -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4i"></script>

</body>
</html>
