<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>

</head>

<body>
    <table class="table">
        <thead>
            <tr>
                <th>Date Purchased</th>
                <th>Description</th>
                <th>Amount Requested</th>
                <th>Actual Expenses</th>
                <th>Remarks</th>
            </tr>
        </thead>
        <tbody>

            <tr th:each="expense : ${expenses}">
                <td th:text="${expense.datePurchased}"></td>
                <td th:text="${expense.description}"></td>
                <td th:text="${expense.amountRequested}"></td>
                <td th:text="${expense.actualExpenses}"></td>
                <td th:text="${expense.remarks}"></td>
                
                <td>
                    <form th:action="@{/expenses/delete/${expense.recid}}" method="post"
                        id="deleteExpenseForm">
                        <button type="button" class="btn btn-danger" data-toggle="modal"
                            data-target="#deleteModal">Delete</button>
                    </form>
                </td>
                <td>
                    <button class="btn btn-sm btn-primary edit-btn" data-toggle="modal" data-target="#editExpenseModal" data-expense-id="${expense.id}">Edit</button>
                </td> 
            </tr>

            </tr>


        </tbody>
    </table>
    
                 
</body>

</html>