<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <!-- DataTables CSS -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- Include Bootstrap's JavaScript after jQuery -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  <!-- Include jquery.dataTables.min.js after jQuery -->
  <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
</head>

<body>
    <table class="table">
        <thead>
            <tr>
                <th>Local</th>
                <th>District</th>
                <th>Date Purchased</th>
                <th>Description</th>
                <th>Amount Requested</th>
                <th>Actual Expenses</th>
                <th>Remarks</th>
            </tr>
        </thead>
        <tbody>

            <tr th:each="expense : ${expenses}">
                <td th:text="${expense.lokal.locale}"></td>
                <td th:text="${expense.district.district}"></td>
                <td th:text="${expense.datePurchased}"></td>
                <td th:text="${expense.description}"></td>
                <td th:text="${expense.amountRequested}"></td>
                <td th:text="${expense.actualExpenses}"></td>
                <td th:text="${expense.remarks}"></td>
                
                <td>
                    <form th:action="@{/expenses/delete/{id}(id=${expense.recid})}" method="post" id="deleteExpenseForm">
                      <button type="button" id="deleteExpenseButton" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" th:data-recid="${expense.recid}">Delete <span th:text="${expense.recid}"></span></button>
                    </form>
                  </td>
                <td>
                    <button class="btn btn-sm btn-primary edit-btn" data-toggle="modal" data-target="#editExpenseModal" data-expense-id="${expense.recid}">Edit</button>

                </td> 
            </tr>



        </tbody>
    </table>
  
                 
</body>

</html>