<!DOCTYPE html>
<html>
<head>
    <title>View Request</title>
</head>
<body>
 
  <iframe id="pdf-frame" style="position: absolute; left: 0; top: 0; width: 100%; height: 100%; border: none;"></iframe>


    <div class="container-fluid" th:replace="~{fragments/footer :: footer}"></div>

    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
          var id = [[${id}]];
            var xhr = new XMLHttpRequest();
            xhr.open("GET", "/requests2/" + id);
            xhr.responseType = "blob";
            xhr.onload = function() {
                if (xhr.status === 200) {
                    var blob = new Blob([xhr.response], { type: "application/pdf" });
                    var url = URL.createObjectURL(blob);
                    document.getElementById("pdf-frame").src = url;
                } else {
                    console.log("Error:", xhr.status);
                }
            };
            xhr.send();
        });
    </script>
</body>
</html>
