<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Lokal List</title>
  <!-- DataTables CSS -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">


  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


  <!-- Include Bootstrap's JavaScript after jQuery -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>



  <!-- Include jquery.dataTables.min.js after jQuery -->
  <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>





</head>

<body>
  <div th:replace="~{fragments/navbar :: navbar}"></div>
  <div class="container mt-4">
    <div class="row">
      <div class="col-12">
        <div th:if="${welcomeMessage}">
          <p th:text="${welcomeMessage}"></p>
        </div>
      </div>
    </div>
  </div>
  <div class="container my-8">
    <div class="row">
      <div class="col-md-8">
        <h1>Search Request</h1>


        <form id="search-form">
          <div class="form-group">
            <label for="search">Search:</label>
            <input type="text" id="search" name="search" class="form-control"
              placeholder="Enter approval number, locale name, district name, or particular">
          </div>
          <button type="submit" class="btn btn-primary">Search</button>
        </form>

        <table id="results-table" class="table table-striped mt-3" style="display:none;">
          <thead>
            <tr>
              <th>Approval Number</th>
              <th>District</th>
              <th>Locale</th>
              <th>Particular</th>
              <th>File</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>



        <div class="container-fluid" th:replace="~{fragments/footer :: footer}"></div>

        <script>
          document.addEventListener("DOMContentLoaded", function (event) {
            document.getElementById("results-table").style.display = "none";
          });


          var pdfWindow = null;

          function openPdfWindow(url) {
            if (pdfWindow != null && !pdfWindow.closed) {
              pdfWindow.close();
            }

            var width = 800;
            var height = 600;
            var left = (screen.width - width) / 2;
            var top = (screen.height - height) / 2;

            pdfWindow = window.open(url, "_blank", "left=" + left + ",top=" + top + ",width=" + width + ",height=" + height);
          }


          document.getElementById("search-form").addEventListener("submit", function (event) {
            event.preventDefault();
            var search = document.getElementById("search").value;
            var xhr = new XMLHttpRequest();
            xhr.open("GET", "/requests?search=" + search);
            xhr.responseType = "json";
            xhr.onload = function () {
              if (xhr.status === 200) {
                var requests = xhr.response;
                var tbody = document.getElementById("results-table").getElementsByTagName("tbody")[0];
                tbody.innerHTML = "";
                for (var i = 0; i < requests.length; i++) {
                  var request = requests[i];
                  var tr = document.createElement("tr");
                  tr.innerHTML = "<td>" + request.approvalNumber + "</td>" +
                    "<td>" + request.district.district + "</td>" +
                    "<td>" + request.lokal.locale + "</td>" +
                    "<td>" + request.particulars + "</td>" +
                    "<td><a href='#' onclick=openPdfWindow('/searchresult/" + request.approvalNumber + "')>View PDF</a></td>";
                  tbody.appendChild(tr);
                }
                document.getElementById("results-table").style.display = "";
              } else {
                console.log("Error:", xhr.status);
              }
            };
            xhr.send();
          });
        </script>

        </script>

</body>

</html>