<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{fragments/head :: head}">
  <meta charset="UTF-8">
  <title>Lokal List</title>
</head>
<body>
  <div th:replace="~{fragments/navbar :: navbar}"></div>
  <div class="container my-8">
    <div class="row">
      <div class="col-md-6">
    <h1>Share List</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>RecID</th>
            <th>Locale</th>
            <th>District</th>
            <th>Item</th>
            <th>Week Number</th>
            <th>Share</th>
            <th>Account</th>
        </tr>
        </thead>
        <tbody>
           
            <tr th:each="share : ${shares}">
                <td th:text="${share.recid}"></td>
                <td th:text="${share.lokal.locale}"></td>
                <td th:text="${share.district.district}"></td>
                <td th:text="${share.item}"></td>
                <td th:text="${share.asofwkno}"></td>
                <td th:text="${share.share}"></td>
                <td th:text="${share.account}"></td>
            </tr>
        </tbody>
    </table>
</div>
</div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
