<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <title>Lokal List</title>
  <!-- DataTables CSS -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">


  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


  <!-- Include Bootstrap's JavaScript after jQuery -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>



  <!-- Include jquery.dataTables.min.js after jQuery -->
  <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>





</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="#">USWO App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/f1control">F1Control</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/fundstart">FundStart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Districts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Expenses Panel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Refunds</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">F2Bs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/mynote">My Notes</a>
        </li>
      </ul>
      <form class="form-inline ml-auto">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
      </form>
      <div th:if="${welcomeMessage}">
        <a class="btn btn-outline-light ml-2" th:if="${welcomeMessage != 'Welcome! Please log in to access the site.'}"
          href="/logout">Logout</a>
        <a class="btn btn-outline-light ml-2" th:if="${welcomeMessage == 'Welcome! Please log in to access the site.'}"
          href="/login">Login</a>
      </div>


    </div>
  </nav>
<body>
    <div class="container mt-4">
        <div class="row">
          <div class="col-12">
            <div th:if="${welcomeMessage}">
              <p th:text="${welcomeMessage}"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="container my-8">
        <div class="row">
          <div class="col-md-8">
    <h1>Update Note</h1>
    <form action="/update-note/" method="POST">
      <input type="hidden" name="id" th:value="${note.id}">
      <table>
        <tr>
            <td>Record ID:</td>
            <td><span th:text="${note.id}"></span></td>
        </tr>
        <tr>
            <td>District Name:</td>
            <td><span th:text="${districtName}"></span></td>
        </tr>
        <tr>
            <td>Locale Name:</td>
            <td><span th:text="${note.locale}"></span></td>
        </tr>
        <tr>
            <td><label for="wkno">Week Number:</label></td>
            <td><input type="text" name="wkno" th:value="${note.wkno}" required></td>
        </tr>
        <tr>
            <td><label for="concerns">Concerns:</label></td>
            <td><textarea name="concerns" th:field="${note.concerns}" required th:value="${note.concerns}"></textarea></td>
        </tr>
        <tr>
            <td><label for="action">Action:</label></td>
            <td><textarea name="action" th:field="${note.action}" required th:value="${note.action}"></textarea></td>
        </tr>
        <tr>
            <td><label for="actionDate">Action Date:</label></td>
            <td><input type="date" name="actionDate" th:value="${note.actionDate}" required></td>
        </tr>
        <tr>
            <td><input type="hidden" name="lcode" th:value="${note.lcode}" required></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="2" align="center"><button type="submit" class="btn btn-info">Update</button></td>
        </tr>
    </table>
    
  </form>
  
    </div>
    </div>
    </div>
</body>
</html>
