<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <title>Lokal List</title>
  <!-- DataTables CSS -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">


  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<!-- Include Bootstrap's JavaScript after jQuery -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>



<!-- Include jquery.dataTables.min.js after jQuery -->
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>


<style>
  table {
    margin-top: 20px;
  }
</style>
</head>
<body>
  <div th:replace="~{fragments/navbar :: navbar}"></div>
  <div class="container my-8">
    <div class="row">
      <div class="col-md-6">
    
    <form action="#" th:action="@{/upload/}" th:object="${fundRequest}" method="post" enctype="multipart/form-data">
      <div class="container mt-5">
        <div class="row">
          <div class="col-md-8 mx-auto">
      <table class="table table-bordered">
        <tr><td colspan="2" class="mx auto"><h2>Upload File</h2></td></tr>
        <tr>
          <td><label for="district">District:</label></td>
          <td>
            <select class="form-control" id="district" name="did" required>
              <option value="" selected>Select District</option>
              <option th:each="district : ${districts}" th:value="${district.did}" th:text="${district.district}"></option>
            </select>
          </td>
        </tr>
        <tr>
          <td><label for="locale">Locale:</label></td>
          <td>
            <select class="form-control" id="locale" name="lcode" required>
              <option value="" selected>Select Locale</option>
            </select>
          </td>
        </tr>
        <tr>
          <td><label for="file">File:</label></td>
          <td>
            <input type="file" id="file" name="file" required class="btn-info">
          </td>
        </tr>
        <tr>
          <td><label for="approval_number">Approval Number:</label></td>
          <td>
            <input type="text" id="approval_number" name="approvalNumber" required>
          </td>
        </tr>
        <tr>
          <td><label for="particulars">Particulars:</label></td>
          <td>
            <textarea id="particulars" name="particulars"></textarea>
          </td>
        </tr>
        <tr><td colspan="2" align="center"><button type="submit" class="btn btn-primary">Upload</button></td></tr> 
      </table>
      </div>
      </div>
      </div>
    </form>
    
   
 
  <script>
    $(document).ready(function () {
      $('#district').change(function () {
        var did = $(this).val();
        $.get('/getlocales/' + did, function (data) { 
          $('#locale').empty();
          $('#locale').append($('<option>').val('').text('Select Locale'));
          $.each(data, function (i, locale) {
            $('#locale').append($('<option>').val(locale.lcode).text(locale.locale));
          });
        });
      });
    });
  </script>
 <div class="container-fluid" th:replace="~{fragments/footer :: footer}"></div>
 
  </body>
</html>
