<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div class="container my-8">
    <div class="row">
        <div class="col-md-12">
            <h2>Withdrawals</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>District</th>
                        <th>Lokal</th>
                        <th>Week Number</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="withdrawal : ${withdrawals}">
                        <td th:text="${withdrawal.district.district}"></td>
                        <td th:text="${withdrawal.lokal.locale}"></td>
                        <td th:text="${withdrawal.wkno}"></td>
                        <td th:text="${withdrawal.amount}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>


