<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div class="container my-8">
    <div class="row">
        <div class="col-md-12">
            <h2>WLFR</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Locale</th>
            <th>District</th>
            <th>Week No.</th>
            <th>Bank Start</th>
            <th>Bank Balance</th>
            <th>LF Start</th>
            <th>LF Balance</th>
            <th>CF Start</th>
            <th>CF Balance</th>
            <th>Resumen</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="row : ${wlfrlist}">
            <td th:text="${row.lokal}"></td>
            <td th:text="${row.district}"></td>
            <td th:text="${row.wkno}"></td>
            <td th:text="${row.bankstart}"></td>
            <td th:text="${row.bank_balance}"></td>
            <td th:text="${row.lfstart}"></td>
            <td th:text="${row.lf_balance}"></td>
            <td th:text="${row.cfstart}"></td>
            <td th:text="${row.cf_balance}"></td>
            <td th:text="${row.resumen}"></td>
        </tr>
    </tbody>
</table>
</div>
</div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>

